<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="text-center mt-5 mb5">
        <h1>Tableau de bord administrateur</h1>
        <div>
            <a class="btn btn-info me-5" href="/adminPanel/ajouterLivre">Ajouter un livre</a>
            <a class="btn btn-danger ms-5" href="/adminPanel/logout">Deconnection</a>
        </div>
    </div>
        <p class="text-center mt-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ea earum fugiat inventore quod saepe. Officia, sint, suscipit! Ad consectetur culpa
            enim hic libero possimus quaerat quam quos ut, veniam? Debitis, ipsum, veritatis. Ab consectetur dolores
            eligendi fugit incidunt ipsum iste molestias, nesciunt, officia quasi rem tempore! Animi aspernatur dolores ea fugit, illum modi
            molestiae mollitia odio officiis perferendis repellendus! Assumenda atque doloremque eum odit, omnis
            repellendus temporibus vero? Aperiam, architecto aspernatur assumenda at cumque dignissimos dolorem, dolorum ducimus eaque fugiat iure modi
            molestiae nam non quidem quod sunt voluptatem? Distinctio explicabo incidunt iure nobis quod recusandae,
            sed suscipit voluptate. Adipisci delectus illo itaque minus optio quis vel veritatis. Ad consequatur doloremque, eligendi ipsam neque nisi
            quasi quo sed. Fugit. Ab aliquid architecto dignissimos distinctio enim eum excepturi explicabo impedit
            in, inventore iure libero magni officiis possimus praesentium quasi repellendus sed sequi vel voluptates.
            Asperiores earum fugit in placeat sed. Adipisci doloribus molestiae sint? Alias amet atque aut cupiditate dolor dolorem eaque excepturi
            inventore iusto libero nobis officia officiis optio pariatur quae quasi quia sequi similique, unde vel
            veritatis voluptates? Ipsum natus quas ratione. Molestiae mollitia nesciunt numquam soluta velit. Aperiam asperiores commodi deserunt
            distinctio doloremque eum, fugiat fugit incidunt modi molestias nisi nobis non numquam quo quos tempore
            voluptatem? Autem id impedit iure nisi praesentium recusandae repellendus sit. Ad cumque esse ex, placeat tempore veniam voluptate?
            Amet dolores est, fuga incidunt inventore iure nihil quidem, reprehenderit sed ut voluptas! Amet
            architecto deleniti dolores eaque enim et explicabo fugiat harum hic ipsam iusto, laudantium libero maxime modi nemo odio omnis porro,
            possimus provident quasi quis ratione sint unde voluptate voluptatem? Amet cupiditate debitis ea expedita
            ipsam iure praesentium quam quis repellat rerum! Accusantium, animi deserunt eius exercitationem laboriosam minima nisi officia,
            reprehenderit velit vero vitae voluptatibus, voluptatum. Cumque, magnam, suscipit?
        </p>
</div>
</html>