<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <h1 class="text-center mb-5 mt-5">Votre panier</h1>
    <h2 class="text-center" th:if="${panier.liste.size() eq 0}">Votre panier est vide!</h2>
    <table class="table table-responsive text-center">
        <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Titre</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
                <tr th:id="${livre.isbn}" th:each="livre : ${panier.liste}">
                    <td th:text="${livre.isbn}"></td>
                    <td th:id="${livre.titre}" th:text="${livre.titre}"></td>
                    <td><span th:text="${livre.prix}"></span>$</td>
                    <td><a th:onclick="fnDelete([[${livre.isbn}]], [[${livre.titre}]])">
                        <span class="bi bi-trash h3"></span>
                    </a></td>
                </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-evenly">
        <a class="lien" href="/paiement" th:unless="${panier.liste.size() eq 0}">Paiement</a>
        <a href="/panier/vider" class="lien" th:unless="${panier.liste.size() eq 0}">Annuler</a>
        <a class="lien" href="/listeLivres">Retourner a la liste</a>
    </div>
</div>
</html>