<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <div class="text-center mb-5 mt-5">
        <h1>Liste de livres</h1>
        <a class="lien" href="/panier">Voir mon panier</a>
        <p>Nombre de livre au panier: <span id="items" th:text="${session.panier.liste.size()}">0</span></p>
        <p th:if="${#lists.size(listeLivres) eq 0}"><strong>La liste est vide</strong></p>
    </div>
<table class="table table-responsive text-center">
    <thead>
        <tr>
            <th scope="col">ISBN</th>
            <th scope="col">Auteur</th>
            <th scope="col">Titre</th>
            <th scope="col">Prix</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr th:each="livre : ${listeLivres}">
        <td th:text="${livre.isbn}"></td>
        <td th:text="${livre.auteur}"></td>
        <td th:text="${livre.titre}"></td>
        <td><span th:text="${livre.prix}"></span>$</td>
        <td><a th:href="@{/listeLivres/info/{isbn}(isbn=${livre.isbn})}">
            <span class="bi bi-file-text h3"></span></a></td>
        <td><a th:id="${livre.isbn}"
                th:onclick="fnBuy([[${livre.isbn}]])"
                th:unless="${session.panier.isPresent(livre.isbn)}"><span
                class="bi bi-cart-plus h3"></span></a>
        </td>
    </tr>
    </tbody>
</table>
</div>
</html>