<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <h1 class="text-center mt-5 mb-5">Formulaire de paiement</h1>
<div class="d-flex justify-content-center">
    <form class="row g-3 w-50" th:action="@{/paiement}"
          th:object="${facture}" method="post">
        <div class="col-12">
            <label for="numFacture" class="form-label" hidden>Numero facture</label>
            <input type="text" class="form-control" id="numFacture" th:field="*{numFacture}" hidden>
        </div>
        <div class="col-md-6">
            <label for="nom" class="form-label">Nom complet</label>
            <input type="text" class="form-control" id="nom" th:field="*{nomClient}">
            <span th:if="${#fields.hasErrors('nomClient')}" th:errors="*{nomClient}"
                  class="formErrors"></span>
        </div>
        <div class="col-md-6">
            <label for="tel" class="form-label">Telephone</label>
            <input type="text" class="form-control" id="tel" th:field="*{telephone}">
            <span th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}"
                  class="formErrors"></span>
        </div>
        <div class="col-md-6">
            <label for="adresse" class="form-label">Adresse</label>
            <input type="text" class="form-control" id="adresse" th:field="*{adresse}">
            <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}"
                  class="formErrors"></span>
        </div>
        <div class="col-md-6">
            <label for="courriel" class="form-label">Courriel</label>
            <input type="text" class="form-control" id="courriel" th:field="*{email}">
            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                  class="formErrors"></span>
        </div>
        <div class="col-12 text-center g-5 ">
            <button type="submit" class="btn btn-primary">Ajouter</button>
            <button type="reset" class="btn btn-secondary">Annuler</button>
        </div>
    </form>
</div>
</div>
</html>