<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layouts/_layout"
      xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="content">
    <h1 class="text-center mb-5 mt-5">Bienvenue sur notre site d'achat de livres en ligne!</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus iste nisi unde veniam? Atque beatae
        perferendis possimus praesentium quae? Culpa deleniti earum est excepturi harum laboriosam praesentium sit
        soluta! A dolores excepturi possimus ut. Ab accusamus aliquid beatae commodi culpa earum eius fugiat illum
        inventore labore laboriosam laborum laudantium nemo nesciunt, officiis pariatur praesentium quis rem sapiente
        tempora ullam?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut culpa cumque dolor doloremque ducimus
        eos error expedita fuga fugit illum iusto magnam nostrum officia porro, possimus quam quas vero! Dolore
        facere ipsa labore minus molestiae nemo nisi, numquam quibusdam quisquam recusandae reiciendis repellat
        repellendus sint sunt temporibus? Amet consequuntur doloribus earum nostrum, perspiciatis praesentium quasi
        ratione sequi similique voluptatem.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dolores esse harum iure laborum modi
        necessitatibus nesciunt odio, porro quas quasi quo repudiandae rerum sapiente sunt temporibus tenetur
        voluptas. Accusamus asperiores aspernatur commodi consectetur dicta, distinctio eos, eum facilis iure laborum
        natus praesentium quae quidem quos reiciendis tempore totam veniam voluptas voluptates voluptatibus. Explicabo
        molestias nobis tempora temporibus voluptates.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur est explicabo facilis
        perferendis! Dicta id ipsum laborum minus molestias necessitatibus neque unde ut? Beatae ex nulla odit quis
        voluptatum. Ab animi consectetur deleniti, dolor illo iste itaque neque, odio optio perferendis quaerat quasi
        quod rem repellat, repudiandae veniam veritatis voluptatibus? Cum dolore est fuga placeat quae vitae, voluptate
        voluptatibus?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, aut dolorem, inventore itaque molestias
        nisi nobis officiis omnis quidem quisquam rem sunt unde. Accusamus aut odio perspiciatis quod
        reprehenderit! Accusantium aliquid beatae consectetur debitis ea eveniet explicabo harum illo ipsa ipsam
        iusto libero molestias nostrum placeat porro, quas ratione reiciendis rem repellendus rerum sed sequi sit
        tenetur. Consectetur, optio?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque ducimus iste nisi unde veniam? Atque beatae
        perferendis possimus praesentium quae? Culpa deleniti earum est excepturi harum laboriosam praesentium sit
        soluta! A dolores excepturi possimus ut. Ab accusamus aliquid beatae commodi culpa earum eius fugiat illum
        inventore labore laboriosam laborum laudantium nemo nesciunt, officiis pariatur praesentium quis rem sapiente
        tempora ullam?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aut culpa cumque dolor doloremque ducimus
        eos error expedita fuga fugit illum iusto magnam nostrum officia porro, possimus quam quas vero! Dolore
        facere ipsa labore minus molestiae nemo nisi, numquam quibusdam quisquam recusandae reiciendis repellat
        repellendus sint sunt temporibus? Amet consequuntur doloribus earum nostrum, perspiciatis praesentium quasi
        ratione sequi similique voluptatem.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium alias dolores esse harum iure laborum modi
        necessitatibus nesciunt odio, porro quas quasi quo repudiandae rerum sapiente sunt temporibus tenetur
        voluptas. Accusamus asperiores aspernatur commodi consectetur dicta, distinctio eos, eum facilis iure laborum
        natus praesentium quae quidem quos reiciendis tempore totam veniam voluptas voluptates voluptatibus. Explicabo
        molestias nobis tempora temporibus voluptates.
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur consequuntur est explicabo facilis
        perferendis! Dicta id ipsum laborum minus molestias necessitatibus neque unde ut? Beatae ex nulla odit quis
        voluptatum. Ab animi consectetur deleniti, dolor illo iste itaque neque, odio optio perferendis quaerat quasi
        quod rem repellat, repudiandae veniam veritatis voluptatibus? Cum dolore est fuga placeat quae vitae, voluptate
        voluptatibus?
    </p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, aut dolorem, inventore itaque molestias
        nisi nobis officiis omnis quidem quisquam rem sunt unde. Accusamus aut odio perspiciatis quod
        reprehenderit! Accusantium aliquid beatae consectetur debitis ea eveniet explicabo harum illo ipsa ipsam
        iusto libero molestias nostrum placeat porro, quas ratione reiciendis rem repellendus rerum sed sequi sit
        tenetur. Consectetur, optio?
    </p>
</div>
</html>